<li class="Entry">
  <h3><%= link_to entry.title, entry %></h3>
  <small><%= nldate entry.created_at %></small>
  <%= link_to 'Edit', edit_entry_path(entry) %>
  <%= link_to 'Delete', entry, method: :delete, data: { confirm: 'Are you sure?' } %>
</li>
