<%= render 'form', entry: @entry %>


<div class="timer">
  <a href="#" data-hook="timer-start">Start timer</a>
  <span class="time"></span>
</div>

<script>
  (function() {
    var interval, time;

    function intervalTick() {
        time -= 1;
        document.querySelector('.timer .time').innerHTML = time + (time === 1 ? " minute" : " minutes");
        if(time < 0) {
            clearInterval(interval);
            document.querySelector('.timer .time').innerHTML = "5 minutes are up! well done.";
        }
    }

    function timerStart() {
        document.querySelector('[data-hook="timer-start"]').innerHTML = "start over";
        window.clearInterval(interval);
        time = 5;
        document.querySelector('.timer .time').innerHTML = time + (time === 1 ? " minute" : " minutes");
        interval = setInterval(intervalTick, 60000);
    }

    document
        .querySelector('[data-hook="timer-start"]')
        .addEventListener('click', timerStart);
  })();
</script>
