<%= render 'form', entry: @entry %>


<div class="timer">
  <button class="Button Button--red" data-hook="timer-start">Start timer</button>
  <span class="time"></span>
</div>

<script>
  (function() {
    var interval, time;

    function intervalTick() {
        time -= 1;
        document.querySelector('.timer .time').innerHTML = time + (time === 1 ? " minute left" : " minutes left");
        if(time === 0) {
            clearInterval(interval);
            document.querySelector('.timer .time').innerHTML = "5 minutes are up!";
        }
    }

    function timerStart() {
        document.querySelector('[data-hook="timer-start"]').innerHTML = "start over";
        window.clearInterval(interval);
        time = 5;
        document.querySelector('.timer .time').innerHTML = time + (time === 1 ? " minute left" : " minutes left");
        interval = setInterval(intervalTick, 6000);
    }

    document
        .querySelector('[data-hook="timer-start"]')
        .addEventListener('click', timerStart);
  })();
</script>
