<%= link_to 'Edit', edit_entry_path(@entry) %>
<header class="Entry-header">
    <h1 class="h3"><%= @entry.title %></h1>
    <p><%=nldate @entry.created_at %></p>
</header>

<section class="Entry-content">
  <%= @entry.content.html_safe %>
</section>
