
<div class="Hero">
  <header class="t-center">
    <span class="Hero-giant LogoMark">5</span>
  </header>
  <h2 class="t-thin-sans t-center">fives.</h2>
  <h2 class="t-center">An opinionated quick journaling app.
  </h2>

</div>


<div class="Section t-center">
  <p>Fives is a project I (<a href="https://twitter.com/isaacchansky">@isaacchansky</a>) made for myself. It started as a method to get me to write more, and more freely.</p>
  <br>
  <p><strong>Basic idea is:</strong> Write for 5 minutes, about anything.</p>
</div>

<div class="Section t-center">
  <div class="t-center">
    <%= link_to "Sign in with Twitter", account_omniauth_authorize_path(:twitter), class: "Button Button--blue" %>
    <br>
    <p class="t-split-lined"><em>or</em></p>
    <br>
    <%= link_to "Create an account", new_account_registration_path, class: "Button Button--red" %>
    <br>
    <br>
    <small>Totally doesn't matter which one you choose. It changes nothing, it's just your preference.</small>
  </div>
</div>
