
<div class="Hero">
  <header class="t-center">
    <span class="Hero-giant LogoMark">5</span>
  </header>
  <h2 class="t-center">An opinionated quick journaling app.</h2>

</div>


<div class="Section t-center">
  <h2 class="t-thin-sans">Be happy, write more.</h2>
  <p>Fives is a project I (<a href="https://twitter.com/isaacchansky">@isaacchansky</a>) made for myself. It started as a method to get me to write more, and more freely.</p>
  <h3 class="t-left">Here's the idea:</h3>
  <ol>
    <li>Write about <strong>ANYTHING</strong>. As long as you're writing words, good start.</li>
    <li>Inspiration for what to write should not be a blocking thing. There are tons of things to write about! Have someone(thing) make the decision for you, if you are being indecisive.</li>
    <li>Limit yourself to 5 minutes. If you go over, great! but just get 5 small minutes of writing accomplished, and cosider that job well done.</li>
  </ol>
  <p>It's all about just starting, and not being anxious about putting words on the screen.</p>
</div>

<div class="Section t-center">
  <div class="t-center">
    <%= link_to "Sign in with Twitter", account_omniauth_authorize_path(:twitter), class: "Button Button--blue" %>
    <br>
    <p class="t-split-lined"><em>or</em></p>
    <br>
    <%= link_to "Create an account", new_account_registration_path, class: "Button Button--red" %>
    <br>
    <br>
    <small>Totally doesn't matter which one you choose. It changes nothing, it's just your preference.</small>
  </div>
</div>
