
<div class="Hero">
  <header class="t-center">
    <span class="Hero-giant LogoMark">5</span>
  </header>
  <h2 class="t-center">
    <div class="t-thin-sans t-center">This is fives.</div>
    An opinionated quick journaling project.
  </h2>

</div>


<div class="Section t-center">
  <p>Fives is a project I (<a href="https://twitter.com/isaacchansky">@isaacchansky</a>) made for myself. It started as an experiment to get me to write more often, and more freely.</p>
  <br>
  <p><strong>Basic idea is:</strong> Write for 5 minutes, about anything.</p>
</div>

<div class="Section t-center">
  <div class="t-center">
    <%= link_to "Sign in with Twitter", account_omniauth_authorize_path(:twitter), class: "Button Button--blue" %>
    <br>
    <p class="t-split-lined"><em>or</em></p>
    <br>
    <%= link_to "Create an account", new_account_registration_path, class: "Button Button--red" %>
    <br>
    <br>
    <small>No difference between the two, just giving ya options.</small>
  </div>
</div>
