// Place all the styles related to the entries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";

#editable {
  outline: none;
  cursor: text;
  min-height: 10em;
}

.new_entry {
  max-width: 45rem;
  margin: 0 auto;

  .actions {
    text-align: right;
  }

  .title-field {
    label:after {
      content: ":";
    }
    input {
      background: transparent;
      border: none;
      width: 100%;
    }
  }
}


.timer {
  position: fixed;
  bottom: 0;
  background: transparent;
  left: 0;
  padding-left: 1.5em;
  width: 100%;
}

.Entry-header {
    border-bottom: 1px solid rgba(0,0,0,0.05);

    > * {
        color: $grey;
        &:first-child {
            margin-bottom: 0;
        }
    }
}

.Entry-content {
  max-width: 45rem;
  margin: 2em auto 0;
}

.Entries {
    list-style: none;
    .Entry {
        margin-bottom: 1em;
    }
}
